<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <title><%=title%></title>
</head>
<body>
  <%- include("header", {buttonVisibility:false, signoutVisibility:true})%>
  <% if(messages && messages.error && messages.error.length > 0)  { %>
    <% for(var i = 0; i < messages.error.length; i++) { %>
      <p class="bg-red-400 m-5 rounded mx-10 px-10 py-2 text-white"><%= messages.error[i] %></p>
    <% } %>
  <% } %>
  <div class="flex flex-col m-10 gap-10">
    <div class="bg-studio-200 p-10 drop-shadow-xl">
      <form class="flex justify-between items-center" action="dashboard/schedule" method="post">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <input class="p-5" type="text" placeholder="Event title" name="event_title" required>
        <input class="p-5" type="text" placeholder="Description" name="event_description">
        <input class="p-5" type="date" name="event_date" required>
        <div class="flex items-center gap-5">
          <label for="event_start">Event start:</label>
          <input class="p-5" type="time" name="event_start" required>
        </div>
        <div class="flex items-center gap-5">
          <label for="event_end">Event end:</label>
          <input class="p-5" type="time" name="event_end" required>
        </div>
        <button class="bg-orange-600 text-white px-10 py-2 rounded-xl" type="submit">Schedule</button>
      </form>
    </div>
    <div>
      <p class="text-lg">Today's Schedule</p>
      <div class="grid grid-cols-3 gap-5">
        <%for(let i=0;i<eventsToday.length;i++){%>
        <div class="flex flex-col drop-shadow-xl bg-white p-5 rounded-2xl">
          <div class="flex text-sm gap-2 text-studio-500">
            <p><%=eventsToday[i].event_start.slice(0,5)%></p>
            <p>-</p>
            <p><%=eventsToday[i].event_end.slice(0,5)%></p>
          </div>
          <p class="text-xl"><%=eventsToday[i].event_title%></p>
          <p class="text-sm text-gray-500"><%=eventsToday[i].event_description%></p>
        </div>
        <%}%>
      </div>
    </div>
    <div>
      <p class="text-lg">Scheduled later</p>
      <div class="grid grid-cols-3 gap-5">
        <%for(let i=0;i<eventsLater.length;i++){%>
        <div class="flex flex-col drop-shadow-xl bg-white p-5 rounded-2xl">
          <div class="flex text-sm gap-2 text-gray-500">
            <p><%=eventsLater[i].event_start.slice(0,5)%></p>
            <p>-</p>
            <p><%=eventsLater[i].event_end.slice(0,5)%></p>
            <p>|</p>
            <p><%=eventsLater[i].event_date%></p>
          </div>
          <p class="text-xl"><%=eventsLater[i].event_title%></p>
          <p class="text-sm text-gray-500"><%=eventsLater[i].event_description%></p>
        </div>
        <%}%>
      </div>
    </div>
  </div>
</body>
</html>