<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%=csrfToken%>">
  <link href="/css/styles.css" rel="stylesheet">
  <title><%=title%></title>
  <script>
    var token = document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute("content");
    function deleteEvent(id) {
      console.log("Deleting an event");
      fetch(`/dashboard/${parseInt(id)}`, {
        method: "delete",
        headers: { "Content-type": "application/json", redirect: "follow" },
        body: JSON.stringify({
          "_csrf": token,
        })
      }).then((res) => {
        window.open("/dashboard", "_self")
      })
        .catch((err) => console.error(err));
    }
  </script>
</head>
<body>
  <%- include("header", {buttonVisibility:false, signoutVisibility:true})%>
  <div class="flex flex-col m-10 gap-10">
    <div class="flex justify-between">
      <a href="/dashboard">
        <svg class="h-10 w-10 hover:scale-125 fill-studio-900 transition duration-150 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM231 127c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-71 71L376 232c13.3 0 24 10.7 24 24s-10.7 24-24 24l-182.1 0 71 71c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L119 273c-9.4-9.4-9.4-24.6 0-33.9L231 127z"/></svg>
      </a>
      <button onclick="deleteEvent(`<%=event.id%>`)">
        <svg class="h-10 w-10 fill-studio-900 hover:scale-125 transition duration-150 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/></svg>
      </button>
    </div>
    <div class="flex bg-gray-200 p-10 drop-shadow-xl justify-between">
      <div class="flex flex-col">
        <p class="text-3xl font-bold text-gray-700"><%=event.event_title%></p>
        <p class="text-gray-500"><%=event.event_description%></p>
      </div>
      <div class="flex flex-col items-end">
        <p class="text-xl text-gray-500"><%=event.event_date%></p>
        <div class="flex gap-2 text-studio-500 font-bold">
          <p><%=event.event_start.slice(0,5)%></p>
          <p>-</p>
          <p><%=event.event_end.slice(0,5)%></p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-10">
      <div class="flex flex-col items-center gap-5">
        <p class="text-lg">Update Event title</p>
        <form class="bg-gray-300 p-10 rounded-xl flex flex-col items-center gap-5 w-full" action="/dashboard/<%=event.id%>/title" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
          <input class="p-5 w-full" type="text" placeholder="<%=event.event_title%>" name="event_title" required>
          <div>
            <button class="bg-orange-600 text-white px-10 py-2 rounded-xl" type="submit">Update title</button>
          </div>
        </form>
      </div>
      <div class="flex flex-col items-center gap-5">
        <p class="text-lg">Update Event description</p>
        <form class="bg-gray-300 p-10 rounded-xl flex flex-col items-center gap-5 w-full" action="/dashboard/<%=event.id%>/description" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
          <input class="p-5 w-full" type="text" placeholder="<%=event.event_description%>" name="event_description" required>
          <div>
            <button class="bg-orange-600 text-white px-10 py-2 rounded-xl" type="submit">Update description</button>
          </div>
        </form>
      </div>
    </div>
  <div>
</body>
</html>